body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

.gameContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.boardContainer {
    min-width: 360px;
    max-width: 360px;
    max-height: 360px;
    border: 3px solid black;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.field {
    border: 1px solid black
}