@font-face {
    font-family: Roboto;
    src: ("./Roboto-Regular.woff");
}

body {
    font-family: Roboto, Helvetica, Sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.result-message {
    height: 32px;
}

.game-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.board-container {
    min-width: 360px;
    max-width: 360px;
    max-height: 360px;
    border: 3px solid black;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.field {
    border: 1px solid black;
    font-size: 96px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}