@font-face {
    font-family: Roboto;
    src: ("./Roboto-Regular.woff");
}

body {
    font-family: Roboto, Helvetica, Sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-message {
    height: 32px;
}

.header > ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.names > li {
    display: flex;
    flex-direction: column;
}

.names > li > input {
    font-size: 1.0rem;
    margin-top: 12px;
    padding: 0.5rem;
    margin-bottom: 8px;
    border-radius: 8px;
}

.names input, .new {
    border: 2px solid #333333;
    border-radius: 8px;
}

.header > .new {
    background-color: white;
    font-size: 1rem;
    padding: 0.8rem;
    margin-bottom: 2rem;
}

.header > .new:active {
    background-color: #bebebe;
}

.message {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.game-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.board-container {
    min-width: 360px;
    max-width: 360px;
    max-height: 360px;
    border: 3px solid black;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.field {
    border: 1px solid black;
    font-size: 96px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}